<div class="card">
  <div class="company-img">
    <i class="fa-solid fa-city"></i>
  </div>
  <h2 class="company-name">{{ company.name }}</h2>
  <div class="company-info">
    <div class="card-info">
      <p class="users-tag">Usuarios</p>
      <p class="users-number">{{ company.usersCount }}</p>
    </div>
    <div class="card-info">
      <p class="sync-tag">Sincronización</p>
      <!-- <p class="sync-state demo">Demo</p> -->
      <p
        [ngClass]="{
          'sync-state': true,
          demo: company.sync == 1,
          active: company.sync == 2
        }"
      >
        {{ company.sync == 1 ? "Demo" : "Activo" }}
      </p>
    </div>
  </div>
  <a [routerLink]="['/companies', company.id]" class="details-button">Detalles</a>
</div>
