<div class="app-container">
  <div class="sidebar">
    <div class="logo">
      <img src="/assets/images/logo.png" alt="logo" />
    </div>
    <nav class="nav">
      <a class="portada sub-item-link" routerLink="/">
        <i class="fa-solid fa-shield-halved"></i>
        <p>Portada</p>
      </a>
      <div ngbAccordion>
        <div ngbAccordionItem *ngFor="let item of menuItems">
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>
              <i [class]="'fa-solid ' + item.icon + ' button-icon'"></i>
              <p class="text">{{ item.text }}</p>
            </button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody *ngFor="let subItem of item.subItems">
              <a class="sub-item-link" [routerLink]="subItem.routerLink">
                <i [class]="'fa-solid ' + subItem.icon"></i>
                <p>{{ subItem.text }}</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="main-container">
    <div class="header">
      <div class="menu-icon">
        <i class="fa-solid fa-bars"></i>
      </div>
      <div class="user-info-container">
        <div class="language">
          <img src="/assets/images/Flag_of_Spain.svg" alt="language flag" />
        </div>
        <div class="info">
          <p class="username">BeWise Desarrollo</p>
          <p class="email">bewise.desarrollo@singlar.com</p>
        </div>
        <div class="user-icon">
          <i class="fa-solid fa-user"></i>
        </div>
      </div>
    </div>
    <div class="blue-header">
      <h1 class="site-title">Administración / Compañias</h1>
    </div>
    <div class="pages-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
