.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .search-input-container {
    background-color: var(--light-gray);
    padding: 0.2rem 0.4rem;
    font-size: 0.5rem;
    color: var(--gray);
    border-radius: 3rem;
    width: 40.5%;

    input[type="search"] {
      width: 93%;
      margin-left: 0.5rem;
      background-color: transparent;
      border: none;
      outline: none;
    }
  }

  .create-company-button {
    padding: 0.2rem 0.5rem;
    font-size: 0.5rem;
    color: white;
    background-color: var(--dark-blue);
    border: none;
    border-radius: 0.1rem;
  }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 1.5rem;
}

.pagination-container {
  margin-top: 2.5rem;
  font-size: 1rem;
}
